body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;


}

#board{
  display: inline-grid;
  grid-template-columns: repeat(10, auto) ;
}

#tile {
  background-color: blue;
  width: 100px;
  height: 100px;
  color: yellow;
  border-style: double;
  border-color: black;
}

#missed {
background-image: url('https://media.giphy.com/media/VEojEu9YingQ/giphy.gif');
background-size: cover;
background-position: center;
}


#smashed {

  background-image: url('https://media.giphy.com/media/XUFPGrX5Zis6Y/giphy.gif');
  background-size: cover;
  background-position: center;


}
